/* You can add global styles to this file, and also import other style files */

.navbar{
	margin: 9px;
}

h3 ,h4,  li, .navbar {
	letter-spacing: 2px;
}

.profilepic{
	max-width: 75%;
	display:block;
    margin:auto;
    padding: 5px;
}
.col-md-5{
	margin-bottom: 8px;
	margin-top: 8px;
}
.home {
	min-height: 500px; 
}
.project .skills{	
	padding: 15px;
}
.content {
	text-align: justify;
}
@media screen and (min-width: 768px) {
    .content{
		margin-top: 100px;
	}
}
@media screen and (max-width: 768px) {
    .project-icon{
    	text-align: center;
    }
    .project{
	padding: 25px;
	text-align: center;
	}
	.home{
		padding: 0px 5px 0px 5px; 
	}
}

.align-left{
	text-align: left;
}

/*@font-face {
  font-family: "Kimberley";
  src: local('./fonts/MYRIADPRO-BOLD.OTF'),
   url('fonts/MYRIADPRO-BOLD.OTF') format("truetype");
  font-weight: bold ;
}*/

.navbar {
	font-size: 16px;
 	font-family: "Kimberley", sans-serif;
	color: #a1dec6;
    font-weight: bold;
} 

/*@font-face {
  font-family: "Kimberle";
  src: url(./fonts/Md_Gothic11.ttf) format("truetype");
}*/
.heading{
	letter-spacing: 2px;
	font-size: 20px;
	font-family: "Kimberle",serif; 
	color: #40B58A
}

p{
	letter-spacing: 1px;
	font-size: 15px;
    font-family: 'Droid Sans', sans-serif;
}
.skillImages{
	padding: 10px;
}